#tableview {
  position: relative;
  float: left;
}
#tableView > table {
  text-align: left;
  border-collapse: collapse;
}

#tableView > table > thead > tr {
  background-color: gray;
}

#tableView > table > tbody td:not(:first-child) {
  border: 1px solid black;
  text-align: center;
}

#tableView > table > tbody td:not(:first-child):hover {
  background-color: lightgray;
}

#tableView > table td.nvt{
  background-color: #FFEB9C;
}

#tableView > table td.voldoende{
  background-color: #C6EFCE;
}

#tableView > table td.onvoldoende{
  background-color: #FFC7CE;
}

#tableView > table td.selected{
  background-color: lightgray;
}
  
#tableView > table > tbody td:first-child {
  padding-right: 50px;
}


#tableView > table > tbody > tr {
  background-color: whitesmoke;
}

#tableView > table a {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  text-decoration: none;
}