body {
    background-color: gray;
}

.topnav {
    background-color: black;
    overflow: hidden;
    position: sticky;
    height: 50px;
    display: flex;
}

.topnav > a {
    text-decoration: none;
}

.rightside {
    position: relative;
    float: right;
    padding: 5px;
    margin: 5px;
    margin-right: 20px;
}

#userProfile {
    position: relative;
    float: right;
}

#search {
    float: right;
}