@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

body > * {
    flex: 0 1 auto;
}

html {
    height: 100%;
}
/*************Topnav *************/

nav {
    background-color: #091C66;
    overflow: hidden;
    width: 100%;
    height: 70px;
}

nav > a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-right: 20px;
    display: block;
}

a.right-side {
    float: right;
    padding-top: 15px;
    text-decoration: none;
    height: 100%;
    text-align: center;
}


a.left-side {
    margin-top: 0px;
    float: left;
}

#logout {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

#logout:hover {
    filter: invert(0.50);
}

#logout:active{
    filter:none;
}

#profile {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

#profileLink:hover {
    filter : invert(0.50)
}

#profileLink:active {
    color: black;
    filter: none;
}


#profileLink:active img {
    filter: none;
}

#edulogo {
    width: 60px;
    height: 60px;
    filter: invert(1);
}



/*************Topnav EXIT *************/


/*************SideNav *************/

aside {
    width: 190px;
    z-index: 1;
    top:0;
    left:0;
    background-color: #091C66;
    overflow: hidden;
    padding-top: 10px;
}

aside a, aside a:hover {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color: white;
    left:0;

}

aside a >img{
    padding-right: 5px;
    filter: invert(1);
}

aside a:hover {
    background-color: #0013D0;
}

aside a:active{
    background-color: #4EABE6;
}

/*************SideNav EXIT*********/


/*************Main ****************/

main {
    height: calc(100% - 70px);
    width: calc(100% - 190px);
    position: relative;
}

main > .contentcontainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

main::before {
    box-shadow: 18px 18px 14px -15px rgba(0,0,0,1) inset;
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:18px;
    height:100%;
    z-index: 1;
}

main::after {
    box-shadow: 18px 18px 14px -15px rgba(0,0,0,1) inset;
    content:'';
    background-color: white;
    display: block;
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:18px;
}

#content {
    min-height: calc(100% - 80px);
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
}

a {
    color: black;
}

a:hover{
    color: gray;
    text-decoration: none;
}

#tableView {
   display: inline-block;

}

/*************Main EXIT ***********/


/*************Footer***************/

footer{
    position: relative;
    height:80px;
    width: 100%;
    background-color:#4EABE6;
    opacity: 0.6;
}

footer > span{
    position: relative;
    color: white;
    height: 0px;
    width: 100px;
    display: inline;
    line-height: 80px;
}

.version {
    left: 10%;
}

.copyright {
    left: 70%;
}

/*************Footer EXIT**********/

/*************Cijfer menu***************/

#cijferMenu {
    width: 250px;
    height: 400px;
    border: 1px solid #091C66;
    border-radius: 5px;
    padding: 10px;
    float: right;
    margin-right: 50px;
}

#cijfer {
    width: 60px;
}

#opmerkingen {
    height: 100px;
    overflow-y: scroll;
}

input, textarea {
    border-radius: 2px;
    border: 1px solid #091C66;
    margin-bottom: 15px;
}

input[type=submit] {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 0px;
    color: white;
    background-color: #091C66;
}

input[type=submit]:hover {
    opacity: 0.7;
    
}

/*Remove Arrows/Spinners in #cijfer*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*Remove Arrows/Spinners in #cijfer*/
input[type=number] {
    -moz-appearance: textfield;
  }
/*************Cijfer menu EXIT ***************/


/*************roosterwidget.php opmaak*************/
#roosterWidget > tbody > tr > td{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

#roosterWidgetBack {
    width: 300px;
    padding: 10px;
    background-color: #4EABE6;
    border-radius: 5px;
}

#roosterWidgetBack > h3 {
    text-align: center;
}

/*************roosterWidget EXIT***************/

/**********ICONS (CDN)************/
i.bi{
    font-size: x-large;
}